@import "reset";
@import "base";
@import "utils";
@import "classes";
@import "animations";
@import "media-queries";


.grid-container {
  display: grid;
  min-height: 100vh;
  grid:
    "picture header" auto
    "aside main" 1fr
    "footer footer" auto
    / 350px auto;

  @include xs {
    grid:
      "header" auto
      "main" auto
      "picture" auto
      "aside" auto
      "footer" auto
      /auto;

  }
}

header {
  background: linear-gradient(to right, var(--primary), var(--light));
  color: white;
  display: flex;
  flex-direction: column;
  grid-area: header;
  justify-content: center;
  align-items: center;
  padding: 8rem 5rem; 
  text-align: center;
  @include xs {
    padding: 5rem 2rem;
  }

  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include xs {
      font-size: 4rem;
    }
    span {
      display: inline-block;
      animation: bounce 2s;
    }
  }
  p {
    letter-spacing: 0.5rem;
  }
}

.picture {
  grid-area: picture;
  padding: 6rem;
  border-right: 1px solid var(--primary);
  background-image: url("../img/banner.jpg");
  background-size: cover;


  img {
    border-radius: 50%;
  }
}

aside {
  min-height: 1500p;
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid var(--border);
  padding: 5rem;

  .block {
    margin-bottom: 5rem;

    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }

    p {
      margin: 0 0 2rem 0;
      font-style: italic;
    }

    .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative;

      .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 80%;
        background-color: var(--light);
      }

      .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: var(--dark);
        left: calc(80% - 5px);
        top: -2.5px;
        transform: rotate(45deg);
      }
    }

    .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      color: var(--hint);

      i {
        font-size: 2rem;
        margin: 0 1rem;
      }
    }
    
    .social-container {
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 1rem 1rem;
      transition: all 0.2s;
      &:hover {
        background-color: var(--border);
        i {
          color: var(--primary);
          transform: scale(1.3);
          transition: all 0.2s;
        }
      }
      
      i {
        flex: 0 0 50px;
        font-size: 2rem;
        margin-right: 1rem;
      }

      p {
        flex: auto;
        margin: 0;
      }
    }
  }
}

main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 5rem 1.5rem;
  }

  h2 {
    margin-bottom: 4rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;

  }
  .experience {
    display: flex;
    margin: 6rem 0;

    .timeline {
      text-align: center;
      color: var(--hint);
      padding-right: 2rem;
      border-right: 1px solid var(--border);
      p {
        margin: 0;
      }
    }

    .content {
      padding: 0 1rem;

      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
      ul {
        margin: 2rem 0;
        list-style: circle;
        padding-left: 4rem;
      }
    }
  }
}

footer {
  background: var(--text);
  color: white;
  grid-area: footer;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include xs {
    padding: 5rem 1.5rem;
  }

  h2 {
    margin-bottom: 3rem;
  }

  form {
    display: flex;
    align-items: center;

    .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      color: white;
      font-size: 2rem;
      padding: 1rem 2rem;
    }
    input {
      border: none;
      min-width: 400px;
      @include xs {
        min-width: 200px;
      }
      padding: 1rem 2rem;
      line-height: 2rem;
      outline: none;
      &::placeholder {
        color: var(--text);
      }
    }
    button {
      background: var(--text);
      border: none;
      cursor: pointer;
      transition: all, 0.2s;
      &:hover {
        opacity: 0.8;
      }
      .postfix {
        background: linear-gradient(to right, var(--dark), var(--light));
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        color: white;
        font-size: 2rem;
        padding: 1rem 2rem;
      }
    }
  }
}